{% if is_granted('book_room', room) %}
    <a class="button-base button-with-icon button-main" href={{ path('reservations_book_room', {'roomId': room.id}) }}>
        {{ source('@icons/create-reservation-icon.svg') }}
        Request a reservation</a>
{% endif %}
{% if is_granted('edit_room', room) %}
    <a class="button-base button-with-icon button-main-outline" href={{ path('rooms_edit', {'id': room.id}) }}>
        {{ source('@icons/edit-icon.svg') }}
        Edit</a>
{% endif %}
{% if is_granted('delete_room', room) %}
    <a class="button-base button-danger-outline delete-link">Delete</a>
    <form method="post" action="{{ path('rooms_delete', { id: room.id }) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endif %}