{% extends 'base.html.twig' %}

{% block title %} Classroom detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>{{ room.name }}</h1>
        </header>
        <dl>
            <dd>ID</dd>
            <dt data-label="ID">{{ room.id }}</dt>
            <dd>Building</dd>
            <dt data-label="Building">
                <a href="{{ path('buildings_detail', { id: room.building.id }) }}">{{ room.building }}</a>
            </dt>
            <dd>Floor</dd>
            <dt data-label="Floor">{{ room.floor }}</dt>
            <dd>Capacity</dd>
            <dt data-label="Capacity">{{ room.capacity }}</dt>
            <dd>Opened from - to</dd>
            <dt data-label="Opened from - to">{{ room.openedFrom }} - {{ room.openedTo }}</dt>
            <dd>Private</dd>
            <dt data-label="Private">
                {% if room.private %}
                    Private
                {% else %}
                    Public
                {% endif %}
            </dt>
            <dd>State</dd>
            <dt data-label="State">
                {% set reservedUntil = reservedUntil(room) %}
                {% if reservedUntil %}
                    Currently reserved - until {{ reservedUntil }}
                {% else %}
                    Currently not reserved
                {% endif %}
            </dt>
            <dd>Room manager</dd>
            <dt data-label="Room manager">{{ room.roomManager }}</dt>
            <dd>Status</dd>
            {% if room.locked %}
                <dt data-label="Status">Locked</dt>
            {% else %}
                <dt data-label="Status">Unlocked</dt>
            {% endif %}
            <dd>Last accessed user</dd>
            <dt data-label="Last accessed user">{{ room.lastAccess }}</dt>
        </dl>
        <footer>
            {% include 'rooms/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}