{% extends 'base.html.twig' %}

{% block title %} Classroom detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>{{ room.name }}</h1>
        </header>
        <dl>
            <dd>Building</dd>
            <dt data-label="Building">{{ room.building }}</dt>
            <dd>Floor</dd>
            <dt data-label="Floor">{{ room.floor }}</dt>
            <dd>Capacity</dd>
            <dt data-label="Capacity">{{ room.capacity }}</dt>
            <dd>Opened from - to</dd>
            <dt data-label="Opened from - to">{{ room.opened_from }} - {{ room.opened_to }}</dt>
            <dd>Private</dd>
            <dt data-label="Private">
                {% if room.private %}
                    Private
                {% else %}
                    Public
                {% endif %}
            </dt>
        </dl>
        <footer>
            {% if is_granted('request', room) %}
                <a class="button-base button-with-icon button-main" href={{ path('requests_book_room', {'roomId': room.id}) }}>
                    {{ source('@icons/create-reservation-icon.svg') }}
                    Request a reservation</a>
            {% endif %}
            {% if is_granted('edit_room', room) %}
                <a class="button-base button-with-icon button-main-outline" href={{ path('rooms_edit', {'id': room.id}) }}>
                    {{ source('@icons/edit-icon.svg') }}
                    Edit</a>
            {% endif %}
        </footer>
    </article>
{% endblock %}