{% extends 'base.html.twig' %}

{% block title %} Classroom detail {% endblock %}

{% block main %}
    <section>
        <h1>{{ room.name }}</h1>
        <h2>Detail</h2>
        <dl>
            <dd>Building</dd>
            <dt>{{ room.building }}</dt>
            <dd>Floor</dd>
            <dt>{{ room.floor }}</dt>
            <dd>Capacity</dd>
            <dt>{{ room.capacity }}</dt>
            <dd>Opened from - to</dd>
            <dt>{{ room.opened_from }} - {{ room.opened_to }}</dt>
        </dl>
        Dodělat aby admin svý Roomky byl převeden rovnou na rezervaci + Admin svý groupy + Admin - EXTENSIONS
        <br>
        {% if (user.isRoomMember() or user.isGroupMember()) %}
            <a href={{ path('users_book_room_member', {'user_id': user.id, 'room_id': room.id}) }}>Request a reservation</a>
        {% elseif (user.isAdmin() or user.isRoomAdmin() or user.isGroupAdmin()) %}
            <a href=#>Make a reservation</a>
        {% endif %}
        <a href={{ path('room_edit', {'id': room.id}) }}>Edit</a>
    </section>
{% endblock %}