{% extends 'base.html.twig' %}

{% block title %} Classroom detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>{{ room.name }}</h1>
        </header>
        <dl>
            <dd>Building</dd>
            <dt data-label="Building">{{ room.building }}</dt>
            <dd>Floor</dd>
            <dt data-label="Floor">{{ room.floor }}</dt>
            <dd>Capacity</dd>
            <dt data-label="Capacity">{{ room.capacity }}</dt>
            <dd>Opened from - to</dd>
            <dt data-label="Opened from - to">{{ room.opened_from }} - {{ room.opened_to }}</dt>
            <dd>Private</dd>
            <dt data-label="Private">
                {% if room.private %}
                    Private
                {% else %}
                    Public
                {% endif %}
            </dt>
        </dl>
        <footer>
            {% include 'rooms/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}