{% extends 'base.html.twig' %}

{% block title %} Classroom edit form {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <h1>Classroom edit form</h1>

    <article id="form">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.building) }}
        {{ form_row(form.floor) }}
        {{ form_row(form.capacity) }}
        <h2>Opened</h2>
        {{ form_row(form.opened_from) }}
        {{ form_row(form.opened_to) }}
        <div id="form-buttons">
            {{ form_widget(form.delete) }}
            {{ form_widget(form.edit) }}
            {# TODO : add delete functionality #}
            <button type="button" id="room_delete" name="room[delete]" class="button-base button-danger-outline button-with-icon">
                {{ source('@icons/delete-icon.svg') }}
                Delete</button>
            <button type="submit" id="room_edit" name="room[edit]" class="button-base button-success button-with-icon">
                {{ source('@icons/save-icon.svg') }}
                Save</button>
        </div>
        {{ form_end(form) }}
    </article>
{% endblock %}