{% extends 'base.html.twig' %}

{% block title %} Classroom edit form {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <h1>Classroom edit form</h1>

    <article id="form">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.building) }}
        {{ form_row(form.floor) }}
        {{ form_row(form.capacity) }}
        <h2>Opened</h2>
        {{ form_row(form.opened_from) }}
        {{ form_row(form.opened_to) }}
        <div id="form-buttons">
            {# TODO : add delete functionality #}
            {{ form_widget(form.delete) }}
            {{ form_widget(form.edit) }}
        </div>
        {{ form_end(form) }}
    </article>
{% endblock %}