{% extends 'base.html.twig' %}

{% block title %} Classrooms {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/filters.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/filters.js') }}"></script>
{% endblock %}

{% block main %}
    {% if is_granted('create_room') %}
        <a class="button-base button-success-outline button-with-icon top-button" href={{ path('rooms_create') }}>
            {{ source('@icons/plus-icon.svg') }} Add
        </a>
    {% endif %}
    <button type="button" class="filters-button">
        {{ source('@icons/drop-down-menu.svg') }}
        Filters</button>
    <div class="filters-content">
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.private) }}
        {{ form_row(searchForm.name) }}
        {{ form_end(searchForm) }}
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Room name</th>
                <th>Building</th>
                <th>Floor</th>
                <th>Capacity</th>
                <th>Opened from - to</th>
                <th>Private</th>
            </tr>
        </thead>

        <tbody>
            {% for room in rooms %}
            <tr>
                <td data-label="ID">{{ room.id }}</td>
                <td data-label="Room name">{{ room.name }}</td>
                <td data-label="Building">{{ room.building }}</td>
                <td data-label="Floor">{{ room.floor }}</td>
                <td data-label="Capacity">{{ room.capacity }}</td>
                <td data-label="Opened from - to">{{ room.openedFrom }} - {{ room.openedTo }}</td>
                <td data-label="Private">
                    {% if room.private %}
                        Private
                    {% else %}
                        Public
                    {% endif %}
                </td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('rooms_detail', { id: room.id }) }}>Detail</a>
                    {% include 'rooms/buttons.html.twig' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with { itemsCount: roomsCount, indexPath: 'rooms_index' } %}
{% endblock %}
