{% extends 'base.html.twig' %}

{% block title %} Classrooms {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <section>
        <form>
            <label for="access"></label>
            <select name="access" id="access">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>

            <button type="submit">Filter</button>
        </form>


        <form action="#">
            <label for="search"></label>
                <input type="text" id="search" placeholder="Search by name" name="search">
            <button type="submit">Ikonka</button>
        </form>
    </section>
    {% if is_granted('create_room') %}
        <a class="button-base button-success-outline top-button" href={{ path('rooms_create') }}>Add</a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Room name</th>
                <th>Building</th>
                <th>Floor</th>
                <th>Capacity</th>
                <th>Opened from - to</th>
                <th>Private</th>
            </tr>
        </thead>

        <tbody>
            {% for room in rooms %}
            <tr>
                <td data-label="Room name">{{ room.name }}</td>
                <td data-label="Building">{{ room.building }}</td>
                <td data-label="Floor">{{ room.floor }}</td>
                <td data-label="Capacity">{{ room.capacity }}</td>
                <td data-label="Opened from - to">{{ room.openedFrom }} - {{ room.openedTo }}</td>
                <td data-label="Private">
                    {% if room.private %}
                        Private
                    {% else %}
                        Public
                    {% endif %}
                </td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('rooms_detail', { id: room.id }) }}>Detail</a>
                    {% include 'rooms/buttons.html.twig' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
