{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/error.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article>
        <h1>4
            <img src="{{ asset('img/hamster.svg') }}" alt="Hamster in breakroom">
            4</h1>
        <p>You have entered the hamster's breakroom!</p>

        {% if app.user %}
            <a class="button-base button-with-icon button-main" href="{{ path('dashboard') }}">
                {{ source('@icons/arrow-left.svg') }}
                Go back to dashboard
            </a>
        {% else %}
            <a class="button-base button-with-icon button-main" href="{{ path('landing_page') }}">
                {{ source('@icons/arrow-left.svg') }}
                Go back to landing page
            </a>
        {% endif %}
    </article>

{% endblock %}