{% extends 'base.html.twig' %}

{% block title %} Group detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/user-groups-ajax.js') }}"></script>
{% endblock %}

{% block main %}
    {% include 'groups/ajaxTemplates.html.twig' %}
    <article id="detail">
        <header>
            <h1>{{ group.name }}</h1>
        </header>
        <dl>
            <dd>Group Manager</dd>
            <dt data-label="Group Manager">
                {% if group.groupManager is empty %}
                    none
                {% else %}
                    {{ group.groupManager }}
                {% endif %}
            </dt>

            {% if group.parent is not empty %}
                <dd>Subgroup of</dd>
                <dt data-label="Subgroup of">{{ group.parent.name }}</dt>
            {% endif %}

            <dd>Members</dd>
                <dt data-label="Members">
                    <ul class="detail-list">
                        {% for member in group.members %}
                            <li class="ajax-list-item">
                                {% if is_granted('edit_group', group) %}
                                    <a class="list-button button-danger button-with-icon remove-group-user"
                                       data-group-id="{{ group.id }}" data-user-id="{{ member.id }}">
                                        {{ source('@icons/user-minus-icon.svg') }}
                                    </a>
                                {% endif %}
                                {{ member.username }}
                            </li>
                        {% endfor %}
                        {% if is_granted('edit_group', group) %}
                            <li class="ajax-list-item">
                                <a class="list-button button-success button-with-icon" id="add-group-user"
                                   data-group-id="{{ group.id }}">
                                    {{ source('@icons/user-plus-icon.svg') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </dt>

            <dd>Rooms</dd>
                <dt data-label="Rooms">
                    {% if group.rooms is not empty %}
                        {% for room in group.rooms %}
                            {{ room }}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}

                </dt>

        </dl>
        <footer>
            {% include 'groups/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}