{% extends 'base.html.twig' %}

{% block title %} Group detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/user-groups-ajax.js') }}"></script>
    <script src="{{ asset('javascript/room-groups-ajax.js') }}"></script>

{% endblock %}

{% block main %}
    {% include 'groups/ajaxTemplates.html.twig' %}
    <article id="detail">
        <header>
            <h1>{{ group.name }}</h1>
        </header>
        <dl>
            <dd>ID</dd>
            <dt data-label="ID">{{ group.id }}</dt>
            <dd>Group Manager</dd>
            <dt data-label="Group Manager">
                {% if group.groupManager is empty %}
                    none
                {% else %}
                    <a class="table-link" href="{{ path('users_detail', { id: group.groupManager.id }) }}">{{ group.groupManager }}</a>
                {% endif %}
            </dt>

            {% if group.parent is not empty %}
                <dd>Subgroup of</dd>
                <dt data-label="Subgroup of"><a class="table-link" href="{{ path('groups_detail', { id: group.parent.id }) }}">{{ group.parent.name }}</a></dt>
            {% endif %}

            {% if group.children is not empty %}
                <dd>Subgroups</dd>
                <dt data-label="Subgroups">
                    <ul class="detail-list">
                        {% for subgroup in group.children %}
                            <li><a class="table-link" href="{{ path('groups_detail', { id: subgroup.id }) }}">{{ subgroup.name }}</a></li>
                        {% endfor %}
                    </ul>
                </dt>
            {% endif %}

            <dd>Members</dd>
                <dt data-label="Members">
                    <ul class="detail-list">
                        {% for member in group.members %}
                            <li class="ajax-list-item">
                                {% if is_granted('edit_group', group) %}
                                    <a class="list-button button-danger button-with-icon remove-group-user"
                                       data-group-id="{{ group.id }}" data-user-id="{{ member.id }}">
                                        {{ source('@icons/user-minus-icon.svg') }}
                                    </a>
                                {% endif %}
                                <a class="table-link" href="{{ path('users_detail', { id: member.id }) }}">{{ member }}</a>
                            </li>
                        {% endfor %}
                        {% if is_granted('edit_group', group) %}
                            <li class="ajax-list-item">
                                <a class="list-button button-success button-with-icon" id="add-group-user"
                                   data-group-id="{{ group.id }}">
                                    {{ source('@icons/user-plus-icon.svg') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </dt>

            <dd>Rooms</dd>
                <dt data-label="Rooms">
                    <ul class="detail-list">
                        {% for room in group.rooms %}
                            <li class="ajax-list-item">
                                {% if is_granted('edit_group', group) %}
                                    <a class="list-button button-danger button-with-icon remove-group-room"
                                       data-group-id="{{ group.id }}" data-room-id="{{ room.id }}">
                                        {{ source('@icons/home-minus-icon.svg') }}
                                    </a>
                                {% endif %}
                                <a class="table-link" href="{{ path('rooms_detail', { id: room.id }) }}">{{ room }}</a>
                            </li>
                        {% endfor %}
                        {% if is_granted('edit_group', group) %}
                            <li class="ajax-list-item">
                                <a class="list-button button-success button-with-icon" id="add-group-room"
                                   data-group-id="{{ group.id }}">
                                    {{ source('@icons/home-plus-icon.svg') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </dt>

        </dl>
        <footer>
            {% include 'groups/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}