{% extends 'base.html.twig' %}

{% block title %} Group edit form {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <h1>Group edit form</h1>

    <article id="form">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.groupManager) }}
        {{ form_row(form.parent) }}
        <div id="form-buttons">
            {{ form_widget(form.edit) }}
        </div>
        {{ form_end(form) }}
    </article>
{% endblock %}