{% extends 'base.html.twig' %}

{% block title %} Groups {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/filters.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/filters.js') }}"></script>
{% endblock %}

{% block main %}
    <button type="button" class="filters-button">
        {{ source('@icons/drop-down-menu.svg') }}
        Filters</button>
    <div class="filters-content">
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.name) }}
        {{ form_end(searchForm) }}
    </div>

    {% if is_granted('create_group') %}
        <a class="button-base button-with-icon button-success-outline top-button button-with-icon" href={{ path('groups_create') }}>
            {{ source('@icons/plus-icon.svg') }} Add
        </a>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Group Manager</th>
            <th>Rooms</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td data-label="Name">{{ group.name }}</td>

                <td data-label="Group Manager">
                    {% if group.groupManager is empty %}
                        -
                    {% else %}
                        {{ group.groupManager }}
                    {% endif %}
                </td>

                <td data-label="Rooms">
                    {% if group.rooms is empty %}
                        -
                    {% else %}
                        {% for room in group.rooms %}
                            {{ room }}
                        {% endfor %}
                    {% endif %}
                </td>

                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('groups_detail', { id: group.id }) }}>Detail</a>
                    {% include 'groups/buttons.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with { itemsCount: groupsCount, indexPath: 'groups_index' } %}
{% endblock %}
