{% if is_granted('edit_building') %}
    <a class="button-base button-with-icon button-main-outline" href={{ path('buildings_edit', { id: building.id }) }}>
        {{ source('@icons/edit-icon.svg') }}
        Edit</a>
{% endif %}
{% if is_granted('delete_building', building) %}
    <a class="button-base button-danger-outline delete-link button-with-icon" data-confirm="delete" data-name="{{ building.name }}">
        {{ source('@icons/delete-icon.svg') }}
        Delete
    </a>
    <form class="table-delete-form" method="post" action="{{ path('buildings_delete', { id: building.id }) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endif %}