{% extends 'base.html.twig' %}

{% block title %} Buildings {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
{% endblock %}

{% block main %}
    {% if is_granted('create_building') %}
        <a class="button-base button-with-icon button-success-outline top-button" href={{ path('buildings_create') }}>
            {{ source('@icons/plus-icon.svg') }} Add
        </a>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td data-label="Name">{{ building.name }}</td>
                <td data-label="Address">{{ building.address }}</td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('buildings_detail', { id: building.id }) }}>Detail</a>
                    {% include 'buildings/buttons.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with { itemsCount: buildingsCount, indexPath: 'buildings_index' } %}
{% endblock %}
