{% extends 'base.html.twig' %}

{% block title %} Buildings {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <h1>Buildings</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Buttons</th>
        </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td data-label="Name">{{ building.name }}</td>
                <td data-label="Address">{{ building.address }}</td>
                <td><a class="button-base button-main" href={{ path('building_detail', { id: building.id }) }}>Detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
