{% extends 'base.html.twig' %}

{% block title %} Buildings {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/filters.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/filters.js') }}"></script>
{% endblock %}


{% block main %}
    {% if is_granted('create_building') %}
        <a class="button-base button-with-icon button-success-outline top-button" href={{ path('buildings_create') }}>
            {{ source('@icons/plus-icon.svg') }} Add
        </a>
    {% endif %}
    <button type="button" class="filters-button">
        {{ source('@icons/drop-down-menu.svg') }}
        Filters</button>
    <div class="filters-content">
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.name) }}
        {{ form_row(searchForm.address) }}
        {{ form_end(searchForm) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td data-label="ID">{{ building.id }}</td>
                <td data-label="Name">{{ building.name }}</td>
                <td data-label="Address">{{ building.address }}</td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('buildings_detail', { id: building.id }) }}>Detail</a>
                    {% include 'buildings/buttons.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with { itemsCount: buildingsCount, indexPath: 'buildings_index' } %}
{% endblock %}
