{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}" type="text/css">
{% endblock %}


{% block main %}
    <section>
        <h1>Dashboard</h1>
        <ul>
            {% if is_granted('view_rooms') %}
                <li><a class="" href="{{ path('rooms_index') }}">
                        {{ source('@icons/classroom-icon.svg') }}
                        <span>Classrooms</span></a></li>
            {% endif %}
            {% if is_granted('view_requests') %}
                <li><a class="" href="{{ path('requests_index') }}">
                        {{ source('@icons/reservation-icon.svg') }}
                        <span>Requests</span></a></li>
            {% endif %}
            {% if is_granted('view_reservations') %}
                <li><a class="" href="{{ path('reservations_index') }}">
                        {{ source('@icons/reservation-icon.svg') }}
                        <span>Reservation</span></a></li>
            {% endif %}
            {% if is_granted('view_groups') %}
                <li><a class="" href="#">
                        {{ source('@icons/group-icon.svg') }}
                        <span>Groups</span></a></li>
            {% endif %}
            {% if is_granted('view_users') %}
                <li><a class="" href="{{ path('users_index') }}">
                        {{ source('@icons/account-badge-icon.svg') }}
                        <span>Users</span></a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}