{% block header %}
    <header>
        {# TODO : if user is logged href to dashboard #}
        <h1><a href="{{ path('landing_page') }}">HMS(t)R</a></h1>

        {# TODO: Add condition for hide when no user is logged in #}
        <nav>
            <button onclick="hamburgerMenuInstance.hide()" class="hamburger-menu-close hamburger-menu-close-hidden">
                {{ source('@icons/close-icon.svg') }}
            </button>
            <ul>
                <li><a class="button-base button-main button-with-icon" href="{{ path('rooms_index') }}">
                        {{ source('@icons/classroom-icon.svg') }}
                        <span>Classrooms</span></a></li>
                <li><a class="button-base button-secondary-outline button-with-icon" href="#">
                        {{ source('@icons/reservation-icon.svg') }}
                        <span>Reservation</span></a></li>
                <li><a class="button-base button-secondary-outline button-with-icon" href="#">
                        {{ source('@icons/group-icon.svg') }}
                        <span>Groups</span></a></li>
                <li><a class="button-base button-secondary-outline button-with-icon" href="{{ path('users_index') }}">
                        {{ source('@icons/account-badge-icon.svg') }}
                        <span>Users</span></a></li>
            </ul>
        </nav>

        <section class="user-links">
            <div class="dropdown">
                <a class="button-base button-main button-with-icon">
                    {{ source('@icons/drop-down-menu.svg') }}
                    {{ source('@icons/profile-icon.svg') }}
                    {% if not app.user %}
                        <span>Account</span>
                    {% else %}
                        <span>{{ app.user.username }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-content">
                    {% if not app.user %}
                        <a href={{ path('login') }}>Log in</a>
                        <a href={{ path('user_registration') }}>Sign up</a>
                    {% else %}
                        <a href="#">Profile</a>
                        <a href={{ path('app_logout') }}>Log out</a>
                    {% endif %}
                </div>
            </div>
        </section>

        <button onclick="hamburgerMenuInstance.show()" class="button-base button-main hamburger-menu-open button-with-icon">
            {{ source('@icons/hamburger-menu-icon.svg') }}
        </button>
    </header>
{% endblock %}