{% extends 'base.html.twig' %}

{% block title %}
    Landing page
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/landing_page.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article>
        <h1 class="center-title">HSM(t)R</h1>
        <p>Booking of <span>classrooms</span> was never <span>easier</span>.</p>

        <a class="button-base button-main" href={{ path('rooms_index') }}>Browse classrooms</a>
        <a class="button-base button-main" href={{ path('login') }}>Log in</a>
    </article>
{% endblock %}

{% block footer %}
    <footer>
        <img src="{{ asset('img/hamster.png') }}" alt="Hamster in a wheel">
        <p>Powered by hamster in spinning wheel.</p>
    </footer>
{% endblock %}