<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome page{% endblock %}</title>
    <link rel="icon" href="{{ app.request.uri }}img/hamster.svg">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/reset.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('styles/general.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('styles/header.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('styles/hamburger.css') }}" type="text/css">
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;400;600;900&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">

    {% block javascripts %}
        <script src="{{ asset('javascript/hamburger-menu.js') }}"></script>
        <script src="{{ asset('javascript/alerts.js') }}"></script>
        <script src="{{ asset('javascript/delete.js') }}"></script>
        <script>
            let hamburgerMenuInstance;

            document.addEventListener("DOMContentLoaded", function() {
                let main = document.getElementsByTagName('main')[0];
                let header = document.getElementsByClassName('main-header')[0];
                hamburgerMenuInstance = new HamburgerMenu(main, header);
                hamburgerMenuInstance.watch();
            });
        </script>
    {% endblock %}
</head>

<body>
{% block header %}{% endblock %}
{% include 'flashes.html.twig' %}
{% include 'deleteModal.html.twig' %}

<main>
    {% block main %}{% endblock %}
</main>

{% block footer %}{% endblock %}
</body>
</html>
