{% extends 'base.html.twig' %}

{% block title %} Reservation detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>Reservation #{{ reservation.id }}</h1>
        </header>
        <dl>
            <dd>Requester</dd>
            <dt data-label="Requester">{{ reservation.user.username }}</dt>
            <dd>Room</dd>
            <dt data-label="Last name">{{ reservation.room.name }}</dt>
            <dd>Attendees</dd>
            <dt data-label="Attendees">
                <ul>
                    {% for attendee in reservation.attendees %}
                        <li>{{ attendee.username }}</li>
                    {% endfor %}
                </ul>
            </dt>
            <dd>Reserved from</dd>
            <dt data-label="Requested from">{{ reservation.dateFrom }}</dt>
            <dd>Reserved to</dd>
            <dt data-label="Requested to">{{ reservation.dateTo }}</dt>
        </dl>
        <footer>
        </footer>
    </article>
{% endblock %}