{% extends 'base.html.twig' %}

{% block title %} Reservation detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/user-reservations-ajax.js') }}"></script>
{% endblock %}

{% block main %}
    <li class="ajax-list-item" id="ajax-template">
        <a class="list-button button-danger button-with-icon remove-reservation-user">
            {{ source('@icons/user-minus-icon.svg') }}
        </a>
    </li>
    <dialog class="add-modal" id="modal-template">
        <ul id="users-list"></ul>
        <button class="button-base button-success">Close</button>
    </dialog>
    <article id="detail">
        <header>
            <h1>Reservation #{{ reservation.id }}</h1>
        </header>
        <dl>
            <dd>Requester</dd>
            <dt data-label="Requester">{{ reservation.user.username }}</dt>
            <dd>Room</dd>
            <dt data-label="Last name">{{ reservation.room.name }}</dt>
            <dd>State</dd>
            <dt data-label="State">{{ reservation.state }}</dt>
            <dd>Attendees</dd>
            <dt data-label="Attendees">
                <ul class="detail-list">
                    {% for attendee in reservation.attendees %}
                        <li class="ajax-list-item">
                            {% if is_granted('edit_reservation', reservation) %}
                                <a class="list-button button-danger button-with-icon remove-reservation-user"
                                   data-reservation-id="{{ reservation.id }}" data-user-id="{{ attendee.id }}">
                                    {{ source('@icons/user-minus-icon.svg') }}
                                </a>
                            {% endif %}
                            {{ attendee.username }}
                        </li>
                    {% endfor %}
                    {% if is_granted('edit_reservation', reservation) %}
                        <li class="ajax-list-item">
                            <a class="list-button button-success button-with-icon" id="add-reservation-user"
                               data-reservation-id="{{ reservation.id }}">
                                {{ source('@icons/user-plus-icon.svg') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </dt>
            <dd>Date</dd>
            <dt data-label="Date">{{ reservation.date }}</dt>
            <dd>Reserved from - to</dd>
            <dt data-label="Reserved from - to">{{ reservation.timeFrom }} - {{ reservation.timeTo }}</dt>
        </dl>
        <footer>
            {% include 'reservations/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}