{% extends 'base.html.twig' %}

{% block title %} Reservations {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
{% endblock %}

{% block main %}
    {% if is_granted('create_reservation') %}
        <a class="button-base button-with-icon button-success-outline top-button" href={{ path('reservations_create') }}>
            {{ source('@icons/create-reservation-icon.svg') }} Create new reservation
        </a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Room name</th>
                <th>Requester</th>
                <th>State</th>
                <th>Attendees</th>
                <th>Date</th>
                <th>Reserved from - to</th>
            </tr>
        </thead>

        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td data-label="ID">{{ reservation.id }}</td>
                <td data-label="Room name"><a class="table-link" href="{{ path('rooms_detail', { id: reservation.room.id }) }}">{{ reservation.room.name }}</a></td>
                <td data-label="Requester"><a class="table-link" href="{{ path('users_detail', { id: reservation.user.id }) }}">{{ reservation.user }}</a></td>
                <td data-label="State" class="column-with-icon">
                    {% if reservation.state == 'PENDING' %}
                        Pending
                        {{ source('@icons/question-circle-icon.svg') }}
                    {% elseif reservation.state == 'APPROVED' %}
                        Approved
                        {{ source('@icons/check-circle-icon.svg') }}
                    {% else %}
                        Rejected
                        {{ source('@icons/cancel-circle-icon.svg') }}
                    {% endif %}
                </td>
                <td data-label="Attendees">
                    <ul>
                        {% for attendee in reservation.attendees %}
                            <li><a class="table-link" href="{{ path('users_detail', { id: attendee.id }) }}">{{ attendee }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td data-label="Date">{{ reservation.date }}</td>
                <td data-label="Reserved from - to">{{ reservation.timeFrom }} - {{ reservation.timeTo }}</td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('reservations_detail', { id: reservation.id }) }}>Detail</a>
                    {% include 'reservations/buttons.html.twig' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with { itemsCount: reservationsCount, indexPath: 'reservations_index' } %}
{% endblock %}
