{% if reservations is not empty %}
    <dd>Active reservations</dd>
    <dt data-label="Active reservations">
        <ul class="detail-list">
            {% for reservation in reservations %}
                <li>
                    <a href="{{ path('reservations_detail', { id: reservation.id }) }}" class="table-link">Reservation #{{ reservation.id }} from user {{ reservation.user }}</a> on date {{ reservation.date|date('d.m.Y') }} ({{ reservation.timeFrom|date('h:i') }} - {{ reservation.timeTo|date('h:i') }})
                </li>
            {% endfor %}
        </ul>
    </dt>
{% endif %}