{% extends 'base.html.twig' %}

{% block title %} User detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        </header>
        <dl>
            <dd>First name</dd>
            <dt data-label="First name">{{ user.firstName }}</dt>
            <dd>Last name</dd>
            <dt data-label="Last name">{{ user.lastName }}</dt>
            <dd>Username</dd>
            <dt data-label="Username">{{ user.username }}</dt>
        </dl>
        <footer>
            <a class="button-base button-with-icon button-main-outline" href={{ path('users_edit', {'id': user.id}) }}>
                {{ source('@icons/edit-icon.svg') }}
                Edit</a>
        </footer>
    </article>
{% endblock %}