{% extends 'base.html.twig' %}

{% block title %} User detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        </header>
        <dl>
            <dd>ID</dd>
            <dt data-label="ID">{{ user.id }}</dt>
            <dd>First name</dd>
            <dt data-label="First name">{{ user.firstName }}</dt>
            <dd>Last name</dd>
            <dt data-label="Last name">{{ user.lastName }}</dt>
            <dd>Username</dd>
            <dt data-label="Username">{{ user.username }}</dt>
            <dd>Note</dd>
            <dd>Role</dd>
            <dt data-label="Role">
                {% for role in user.roles %}
                    {{ getRoleText(role) }}
                {% endfor %}
            </dt>
            <dt data-label="Note">{{ user.note }}</dt>
            {% if user.group %}
                <dd>Group</dd>
                <dt data-label="Group">{{ user.group.name }}</dt>
            {% endif %}
            <dd>Used rooms</dd>
            <dt data-label="Used rooms">
                <ul class="detail-list">
                    {% for room in user.rooms %}
                        <li>{{ room.name }}</li>
                    {% endfor %}
                </ul>
            </dt>
            {% if user.isGroupAdmin %}
                <dd>Managed groups</dd>
                <dt data-label="Managed groups">
                    <ul class="detail-list">
                        {% for group in user.managedGroups %}
                            <li>{{ group.name }}</li>
                        {% endfor %}
                    </ul>
                </dt>
            {% endif %}
            {% if user.isRoomAdmin %}
                <dd>Managed rooms</dd>
                <dt data-label="Managed rooms">
                    <ul class="detail-list">
                        {% for room in user.managedRooms %}
                            <li>{{ room.name }}</li>
                        {% endfor %}
                    </ul>
                </dt>
            {% endif %}
        </dl>
        <footer>
            {% include 'users/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}