{% extends 'base.html.twig' %}

{% block title %} User detail {% endblock %}

{% block main %}
    <section>
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        <h2>Detail</h2>
        <dl>
            <dd>First name</dd>
            <dt>{{ user.firstName }}</dt>
            <dd>Last name</dd>
            <dt>{{ user.lastName }}</dt>
            <dd>Username</dd>
            <dt>{{ user.username }}</dt>
        </dl>
        <a href={{ path('users_edit', {'id': user.id}) }}>Edit</a>
    </section>
{% endblock %}