{% extends 'base.html.twig' %}

{% block title %} User edit form {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <h1>User edit form</h1>

    <article id="form">
        {{ form_start(form) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone_number) }}
        {{ form_row(form.role) }}
        {{ form_row(form.note) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plain_password) }}
        <div id="form-buttons">
            {# TODO : add delete functionality #}
            {{ form_widget(form.delete) }}
            {{ form_widget(form.edit) }}
        </div>
        {{ form_end(form) }}
    </article>
{% endblock %}