{% extends '/base.html.twig' %}

{% block title %} Users {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
{% endblock %}

{% block main %}
    {{ form(searchForm) }}

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone number</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td data-label="Name">{{ user.firstName }} {{ user.lastName }}</td>
                <td data-label="Email">{{ user.email }}</td>
                <td data-label="Role">
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td data-label="Phone number">{{ user.phoneNumber }}</td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('users_detail', {id: user.id}) }}>Detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set pageCnt = pagesCount(app.request, usersCount) %}
        {% if pageCnt > 1 %}
            <div id="pagination">
                <a class="button-base button-main button-pagination {{ currentPage(app.request) > 1 ? "" : "dummy" }}"
                   href={{ currentPage(app.request) > 1 ? path('users_index', prevPageParams(app.request)) : "" }}>
                    {{ source('@icons/arrow-left.svg') }}
                </a>
                <button class="button-base button-secondary-outline button-pagination">
                    {{ currentPage(app.request) }}
                </button>
                <a class="button-base button-main button-pagination {{ currentPage(app.request) < pageCnt ? "" : "dummy" }}"
                   href={{ path('users_index', nextPageParams(app.request, pageCnt)) }}>
                    {{ source('@icons/arrow-right.svg') }}
                </a>
            </div>
        {% endif %}
{% endblock %}
