{% extends '/base.html.twig' %}

{% block title %} Users {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/table.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/filters.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/filters.js') }}"></script>
    <script>
        let filtersInstance;

        document.addEventListener("DOMContentLoaded", function() {
            let filterButton = document.getElementsByClassName('filters-button')[0];
            let filterContent = document.getElementsByClassName('filters-content')[0];
            filtersInstance = new Filters(filterButton, filterContent);
            filtersInstance.watch();
        });
    </script>
{% endblock %}

{% block main %}
    <button type="button" onclick="filtersInstance.trigger()" class="filters-button">
        {{ source('@icons/drop-down-menu.svg') }}
        Filters</button>
    <div class="filters-content">
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.firstName) }}
        {{ form_row(searchForm.lastName) }}
        {{ form_row(searchForm.email) }}
        {{ form_row(searchForm.phoneNumber) }}
        {{ form_end(searchForm) }}
    </div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone number</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td data-label="Name">{{ user.firstName }} {{ user.lastName }}</td>
                <td data-label="Email">{{ user.email }}</td>
                <td data-label="Role">
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td data-label="Phone number">{{ user.phoneNumber }}</td>
                <td class="table-buttons">
                    <a class="button-base button-main" href={{ path('users_detail', {id: user.id}) }}>Detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set pageCnt = pagesCount(params, usersCount) %}
        {% if pageCnt > 1 %}
            <div id="pagination">
                <a class="button-base button-main button-pagination {{ currentPage(params) > 1 ? "" : "dummy" }}"
                   href={{ currentPage(params) > 1 ? path('users_index', prevPageParams(params)) : "" }}>
                    {{ source('@icons/arrow-left.svg') }}
                </a>
                <button class="button-base button-secondary-outline button-pagination">
                    {{ currentPage(params) }}
                </button>
                <a class="button-base button-main button-pagination {{ currentPage(params) < pageCnt ? "" : "dummy" }}"
                   href={{ path('users_index', nextPageParams(params, pageCnt)) }}>
                    {{ source('@icons/arrow-right.svg') }}
                </a>
            </div>
        {% endif %}
{% endblock %}
