{% extends '/layout.html.twig' %}

{% block title %} Log in {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="login-form">
        <section>
            <h1>
                HMS(t)R
            </h1>

            <h2>
                Log in
            </h2>
            <form action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                {# TODO : ask if value needed? - its blocking placeholder #}
                <input placeholder="Username" type="text" id="username" name="_username" {# value="{{ last_username }}" #}/>

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" placeholder="Password"/>

                {# TODO : Once the dashboard is done, redirect to dashboard after successful login #}
               {# <input type="hidden" name="_target_path" value="dashboard"/>#}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="button-base button-main" type="submit">Continue</button>
            </form>

            <a class="button-base button-main-outline" href="{{ path('users_registration') }}">Sign Up</a>
        </section>
    </article>

    {% if error %}
        <div class="login-error alert button-base button-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}