{% extends 'base.html.twig' %}

{% block title %} Sign up {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="login-form">
        <section>
            <h1>
                HMS(t)R
            </h1>

            <h2>
                Sign Up
            </h2>
            {{ form(form) }}

            <a class="button-base button-with-icon button-skeleton" href="{{ path('login') }}">
                {{ source('@icons/arrow-left.svg') }}
                Go back to log in</a>
        </section>
    </article>
{% endblock %}