{% extends 'base.html.twig' %}

{% block title %} Request detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>Request #{{ request.id }}</h1>
        </header>
        <dl>
            <dd>Requester</dd>
            <dt data-label="Requester">{{ request.requestor.username }}</dt>
            <dd>Room</dd>
            <dt data-label="Last name">{{ request.room.name }}</dt>
            <dd>Username</dd>
            <dt data-label="State">{{ request.state }}</dt>
            <dd>Attendees</dd>
            <dt data-label="Attendees">
                <ul>
                    {% for attendee in request.attendees %}
                        <li>{{ attendee.username }}</li>
                    {% endfor %}
                </ul>
            </dt>
            <dd>Requested from</dd>
            <dt data-label="Requested from">{{ request.dateFrom }}</dt>
            <dd>Requested to</dd>
            <dt data-label="Requested to">{{ request.dateTo }}</dt>
        </dl>
        <footer>
            {% if is_granted('approve_request', request) %}
                <a class="button-base button-success-outline" href={{ path('requests_approve', { id: request.id }) }}>Approve</a>
            {% endif %}
            {% if is_granted('reject_request', request) %}
                <a class="button-base button-danger-outline" href={{ path('requests_reject', { id: request.id }) }}>Reject</a>
            {% endif %}
        </footer>
    </article>
{% endblock %}